          <div class="footer">
            <h3>Meanwhile…</h3>
            <p>What’s that? Oh, you <em>weren’t</em> looking for semi-coherent ramblings? You could try these places instead:</p>
            <ul class="external-links">
              <li><a href="http://madebyfieldwork.com">Fieldwork</a></li>
              <li><a href="http://twitter.com/_andygott">The Twitters</a></li>
              <li><a href="http://instagram.com/andygott">Instagram</a></li>
              <li><a href="mailto:andy@madebyfieldwork.com">andy@madebyfieldwork.com</a></li>
            </ul>
          </div>